<h1>SubMitten</h1>

<nav>
  <ul>

    <li><a href="<%= poems_url %>">Poems</a></li>
    <li><a href="<%= journals_url %>">Journals</a></li>
    <li><a href="<%= submissions_url %>">Submissions</a></li>

  </ul>
</nav>
